<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<section class="comment">
  <div id="gitalk-container" class="gitalk-container"></div>
</section>
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
  var gitalk = new Gitalk({
    clientID: '<%= theme.gitalk.clientID %>',
    clientSecret: '<%= theme.gitalk.clientSecret %>',
    id: window.location.pathname,
    repo: '<%= theme.gitalk.repo %>',
    owner: '<%= theme.gitalk.owner %>',
    admin: '<%= theme.gitalk.admin %>'
  })
  gitalk.render('gitalk-container')
</script>