<article class="article">
  <%- partial('_partial/post/head') %>
  <section class="main">
    <section class="content">
      <%- page.content %>
    </section>
    <section class="extra">
      <% if (theme.post_copyright.enable) { %>
        <%- partial('_partial/post/copyright') %>
      <% } %>
      <% if (theme.donate.alipay || theme.donate.wechat) { %>
        <%- partial('_partial/post/donate') %>
      <% } %>
      <%- partial('_partial/post/tag') %>
      <%- partial('_partial/post/nav') %>
    </section>
    <% if (theme.comments.enable) { %>
      <section class="comments">
        <% if (theme.comments.button) { %>
          <div class="btn" id="comments-btn">查看评论</div>
        <% } %>
        <%- partial('_partial/common/comments/' + theme.comments.type) %>
      </section>
    <% } %>
  </section>
</article>