<article class="article">
  <div class="wrap">
    <%- partial('_partial/post/head') %>
    <section class="main">
      <section class="content">
        <% if (theme.excerpt.enable && page.excerpt) { %>
          <p><%- page.excerpt %></p>
        <% } %>
        <%- page.more %>
      </section>
      <section class="extra">
        <% if (theme.post_copyright.enable && page.copyright !== false) { %>
          <%- partial('_partial/post/copyright') %>
        <% } %>
        <% if (theme.donate.enable && page.donate !== false) { %>
          <%- partial('_partial/post/donate') %>
        <% } %>
        <%- partial('_partial/post/tag') %>
        <%- partial('_partial/post/nav') %>
      </section>
      <% if (theme.comments.enable) { %>
        <%- partial('_partial/post/comments') %>
      <% } %>
    </section>
  </div>
</article>