<main id="main">
  <section class="galleries container">
    <%- partial('_partial/components/header', {title: theme.galleries.title, subtitle: theme.galleries.subtitle}) %>
    <% if (site.data && site.data.galleries) { %>
      <% var galleries = site.data.galleries; %>
      <div class="wrap">
      <% for (var i = 0, len = galleries.length; i < len; i++) { %>
        <% var gallery = galleries[i]; %>
        <a href="./<%- gallery.name %>" class="item">
          <img src="<%- gallery.cover %>" alt="<%= gallery.name %>">
          <div class="title-wrap">
            <div class="mask">
              <h3 class="title"><%= gallery.name %></h3>
            </div>
          </div>
        </a>
      <% } %>
      </div>
    <% } %>
  </section>
</main>