<%- partial('_partial/head') %>
<body class="lock-screen">
  <%- partial('_partial/common/loading') %>
  <%- partial('_partial/header') %>
  <%- body %>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/common/fab') %>
</body>
<%- partial('_partial/script') %>
</html>