<%- partial('_partial/head') %>
<body class="lock-screen">
  <%- partial('_partial/components/loading') %>
  <%- partial('_partial/components/navbar') %>
  <%- partial('_partial/components/menu') %>
  <%- body %>
  <%- partial('_partial/components/footer') %>
  <% if (theme.fab.enable) { %>
    <%- partial('_partial/components/fab') %>
  <% } %>
  <% if (theme.scrollbar.model === 'simple') { %>
    <%- partial('_partial/components/scrollbar') %>
  <% } %>
  <% if (theme.color_mode.enable) { %>
    <%- js('js/color-mode') %>
  <% } %>
</body>
<%- partial('_partial/script') %>
</html>