<footer class="footer">
  <div class="footer-social">
    <% for (var i in theme.social) { %>
    <% var arr = theme.social[i].split('||') %>
    <% var url = arr[0] %>
    <% var iconfont = arr[1] %>
    <% var color = arr[2] || "'"+theme.color.link+"'" %>
    <a href="<%- url %>" target="_blank" onMouseOver="this.style.color=<%- color %>"
      onMouseOut="this.style.color='<%= theme.color.default %>'">
      <i class="iconfont footer-social-item <%- iconfont %>"></i>
    </a>
    <% } %>
  </div>
  <div class="footer-copyright"><%- theme.copyright %></div>
</footer>