<%
var keywords = '';
var description = '';
(function() {
  if (config.keywords) {
    keywords += theme.keywords;
  }
  if (page.keywords) {
    keywords += ', ';
    keywords += page.keywords;
  }
  if (config.description) {
    description += config.description;
  }
  if (is_post()) {
    description = truncate(strip_html(page.content), 100);
  }
})();
%>

<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= page_title() %></title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="google" content="notranslate" />

  <% if (keywords) { %>
  <meta name="keywords" content="<%= keywords %>"> <% } %>
  <% if (description) { %>
  <meta name="description" content="<%= description %>"> <% } %>
  <% if (config.author){ %>
  <meta name="author" content="<%= config.author %>"> <% } %>

  <% if (theme.favicon.small) { %>
    <link rel="icon" href="<%= theme.favicon.small %>" type="image/png" sizes="16x16">
  <% } %>
  <% if (theme.favicon.medium) { %>
    <link rel="icon" href="<%= theme.favicon.medium %>" type="image/png" sizes="32x32">
  <% } %>
  <% if (theme.favicon.apple_touch_icon) { %>
    <link rel="apple-touch-icon" href="<%= theme.favicon.apple_touch_icon %>" sizes="180x180">
  <% } %>
  <% if (theme.favicon.safari_pinned_tab) { %>
    <meta rel="mask-icon" href="<%= theme.favicon.safari_pinned_tab %>" color="#333333">
  <% } %>
  <% if (theme.favicon.msapplication) { %>
    <meta rel="msapplication-TileImage" content="<%= theme.favicon.msapplication %>">
    <meta rel="msapplication-TileColor" content="#000000">
  <% } %>

  <%- css(['css/style']) %>

  <% if(theme.vendors.iconfont_css){ %>
  <%- css(theme.vendors.iconfont_css) %>
  <% } %>

  <% if(theme.fancybox){ %>
  <% if(theme.vendors.fancybox_css){ %>
  <%- css(theme.vendors.fancybox_css) %>
  <% }else{ %>
  <%- css('lib/fancybox/fancybox.css')%>
  <% }} %>

  <% if(theme.highlight){ %>
  <% if(theme.vendors.highlight_css){ %>
  <%- css(theme.vendors.highlight_css) %>
  <% }else{ %>
  <%- css('lib/highlight/a11y-dark.css')%>
  <% }} %>

  <script>
    var CONFIG = window.CONFIG || {};
    var ZHAOO = window.ZHAOO || {};
    CONFIG = {
      isHome: <%= is_home() %>,
      fancybox: <%= theme.fancybox %>,
      pjax: <%= theme.pjax %>,
      lazyload: {
        enable: <%= theme.lazyload.enable %>,
        loadingImage: '<%= theme.lazyload.loadingImage %>',
      },
      donate: {
        enable: <%= theme.donate.enable %>,
        alipay: '<%= theme.donate.alipay %>',
        wechat: '<%= theme.donate.wechat %>'
      },
      motto: {
        api: '<%= theme.preview.motto.api %>',
        default: '<%= theme.preview.motto.default %>'
      },
      galleries: {
        enable: <%= theme.galleries.enable %>
      },
      fab: {
        enable: <%= theme.fab.enable %>,
        alwaysShow: <%= theme.fab.alwaysShow %>
      },
      carrier: {
        enable: <%= theme.carrier.enable %>
      },
      daovoice: {
        enable: <%= theme.daovoice.enable %>
      }
    }
  </script>

  <% if(theme.custom.head) { %>
  <%- theme.custom.head  %>
  <% } %>

  <%- (theme.custom.css && css(theme.custom.css)) %>
</head>