<%
var keywords = '';
var description = '';
(function() {
  if (theme.keywords) {
    keywords += theme.keywords;
    keywords += ',';
  }
  if (page.keywords) {
    keywords += page.keywords;
  }
  if (config.description) {
    description += config.description;
    description += ',';
  }
  if (is_post()) {
    description += truncate(strip_html(page.content), 100);
  }
})();
%>
<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= page_title() %></title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="google" content="notranslate" />
  <% if (keywords) { %>
  <meta name="keywords" content="<%= keywords %>"> <% } %>
  <% if (description) { %>
  <meta name="description" content="<%= description %>"> <% } %>
  <% if (config.author){ %>
  <meta name="author" content="<%= config.author %>"> <% } %>
  <%- favicon_tag(theme.favicon) %>
  <%- css(['//at.alicdn.com/t/font_1445822_30fj5cfdqlc.css'])%>
  <%- css(['css/style']) %>

  <% if(theme.fancybox){ %>
  <% if(theme.vendors.fancybox_css){ %>
  <%- css(theme.vendors.fancybox_css) %>
  <% }else{ %>
  <%- css('lib/fancybox/fancybox.css')%>
  <% }} %>

  <% if(theme.highlight){ %>
  <% if(theme.vendors.highlight_css){ %>
  <%- css(theme.vendors.highlight_css) %>
  <% }else{ %>
  <%- css('lib/highlight/a11y-dark.css')%>
  <% }} %>

  <script>
    var CONFIG = window.CONFIG || {}
    CONFIG = {
      fancybox: <%= theme.fancybox %>,
      pjax: <%= theme.pjax %>,
      highlight: <%= theme.highlight %>,
    }
  </script>

  <% if(theme.custom.head) { %>
  <%- theme.custom.head  %>
  <% } %>

</head>