<% var excerpt = (post.excerpt.length > 0 ? truncate(strip_html(post.excerpt), {length: 100}) : truncate(strip_html(post.more), {length: 100})); %>

<div class="col-lg-4 col-md-6 col-sm-12 post-item">
  <div class="post-wrap">
    <% if (post.top) { %>
      <div class="post-top"><div>置顶</div></div>
    <% } %>
    <a href="<%- url_for(post.path) %>" class="post-image">
      <%- image_tag(post_image(post.image), { draggable: "false" }) %>
    </a>
    <div class="post-content">
      <div class="post-content-wrap">
        <h3 class="post-title"><a href="<%- url_for(post.path) %>" title="<%- post.title %>" ><%- post.title %></a></h3>
        <div class="post-excerpt">
          <p class="substr-3"><%- excerpt %></p>
        </div>
      </div>
      <div class="post-info">
        <span class="post-info-item"><i class="iconfont iconcalendar"></i><%= date(post.date, "MMMM DD, YYYY") %></span>
        <% if (theme.leancloud.enable) { %>
          <span class="post-info-item">
            <i class="iconfont iconeye"></i><span id="<%= url_for(post.path) %>" class="leancloud-counter" data-flag-title="<%- post.title %>"></span>
          </span>
          <span class="post-info-item">
            <i class="iconfont iconheart"></i><span id="<%= url_for(post.path) %>" class="leancloud-like" data-flag-title="<%- post.title %>"></span>
          </span>
        <% } %>
      </div>
    </div>
  </div>
</div>
