<div class="col-lg-4 col-md-6 col-sm-12 post-item">
  <div class="post-wrap">
    <% if(post.top) { %>
    <div class="post-top">
      <div>置顶</div>
    </div>
    <% } %>
    <a href="<%- url_for(post.path) %>" class="post-image">
      <%- image_tag(post.image || theme.post_image, { draggable: "false" }) %>
    </a>
    <div class="post-content">
      <h3 class="post-title"><a href="<%- url_for(post.path) %>"><%= post.title %></a></h3>
      <% if(post.excerpt.length > 0) { %>
      <% var excerpt = truncate(strip_html(post.excerpt), {length: 100}) %>
      <% } else { %>
      <% var excerpt = truncate(strip_html(post.excerpt), {length: 100}) %>
      <% } %>
      <div class="post-excerpt">
        <p class="substr-3"><%- excerpt %></p>
      </div>
      <div class="post-info">
        <span class="post-info-item"><i class="iconfont iconcalendar"></i><%- date(post.date, "YYYY-MM-DD") %></span
          class="post-info-item">
        <% if(theme.leancloud.enable) { %>
        <span class="post-info-item"><i class="iconfont iconeye"></i><span id="<%= url_for(post.path) %>"
            class="leancloud" data-flag-title="<%- post.title %>"></span></span>
        <% } %>
        <span class="post-info-item"><i class="iconfont iconfont-size"></i><%- strip_html(post.content).length %></span>
      </div>
    </div>
  </div>
</div>